/**/

/*.body-wrapper {*/
    /*overflow: hidden;*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

.square-12 {
    width: 12px;
    height: 12px;
    font-size: 12px;
}

.strike {
    text-decoration: line-through;
    color: #808080;
}

.blue-sea-gradient {
    background: #009bff;
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);
}

.blue-sea-gradient-right {
    background: #009bff;
    background: -webkit-linear-gradient(right, #0072ff, #00c6ff);
    background: -o-linear-gradient(right, #0072ff, #00c6ff);
    background: -moz-linear-gradient(right, #0072ff, #00c6ff);
    background: linear-gradient(right, #0072ff, #00c6ff);
}

.site-logo {
    margin-top: 2%;
}

.site-logo-img {
    max-width: 300px;
}

.signUpFormTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/** Signup **/
body.accountSignUp .signUpFormWrapper {
    background: transparent;
}

#cardSignUp form {
    max-width: 500px;
    min-width: 300px;
    width: 430px;
}

md-input-container.md-input-invalid > md-icon {
    color:red;
}


/** Login **/
body.pageLogin .loginFormWrapper {
    background: transparent;
}

#cardLogin form {
    max-width: 500px;
    min-width: 300px;
    width: 430px;
}

.loginFormWrapper md-input-container.md-input-invalid > md-icon {
    color:red;
}



md-card#avatar-user {
    background: transparent;
    margin: 0;
}

#avatar-user img {
    display: block;
    width: 100%;
    max-width: 100px;
    padding: 0;
    min-width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#avatar-user md-card-title-text {
    margin-left: 3%;
}

/** Sidenav left **/
#sidenav-left md-toolbar {
    background-color: transparent;
}

#sidenav-left .nav-header {
    /*border-bottom: 1px solid #267ED5;*/
    /*background: transparent !important;*/
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    z-index: 2;
}

#sidenav-left .menu-collapse {
    padding: 10% 0;
}

#sidenav-left .menu-collapse,
#sidenav-left .list-menu,
#sidenav-left .menu-item {
    padding-left: 0;
    padding-right: 0;
}

#sidenav-left  .menu-item-link {
    width:100%;
    text-align: left;
    padding-left: 16px;
}


/** Content **/
#content {
    /*height: 1000px;*/
    padding: 1%;
}

/**
 *  Profile
 */
.userProfile #userInfoBoxRight md-card-title {
    padding: 0;
}

.userProfile #userInfoBoxRight .box-avatar {
    margin: 7% auto;
    max-width: 200px;
}


.userProfile #userInfoBoxRight .box-avatar img {
    display: block;
    width: 100%;
    padding: 0;
    min-width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}